/* Увеличиваем кнопки +- для полей типа number */
input[type=number] {
  line-height: 40px;
  padding-right: 0px !important;
}
input[type=number].input-lg {
  line-height: 46px !important;
}

hr {
  border-bottom: 1px solid #e1e1e1;
  margin: 20px 0;
}

.empty-alert {
  text-align: center;
  display: block;
  width: 70%;
  margin:0 auto;
  padding: 40px;
  border: 1px solid #ededed;
  color:#777;
}

.mute-area {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 50px;
}


/** ===========================================================================
  *
  * МЕНЮ
  *
  */
.header-top {
  padding-top: 0px;
}
/* menu */
#nav-menu {
  padding: 5px 0;
  background-color: #35373d;
}
#nav-menu li a {
  color: #fff;
}
/* menu logo  */
#nav-logo{
  margin-top: 30px;
}
#nav-logo > div {
  line-height: 58px;
}
#nav-logo .phone {
  font-size: 22px;
  font-weight: 800;
  color: #388396;
}
#nav-logo .cart-icon #cart-total {
  margin-top: 20px !important;
}
/* menu category */
#nav-category {
  margin-top:20px;
}
#nav-category ul img {
  padding-bottom: 10px;
}
#nav-category ul {
  text-align: center;
}
#nav-category .cart-icon,
#nav-category .cart-icon li {
  line-height: 58px;
}
#mob-muenu-logo {
  top: 0px;
  position: relative;
}
#mob-muenu-logo a {
  position: absolute;
  top: 0px;
  left: 10px;
}
#mob-menu-logo a img {
  width: 100%;
}
.mean-nav {
  position: absolute;
}
/* Выпадающий список */
#nav-menu .submenu a {
  color: #000;
}

#nav-menu .submenu {
  right: -12px;
}
@media (max-width: 767px) {
  #nav-menu {
    background-color: #fff;
  }
  .mean-nav{
    margin-top: 50px !important;
  }
  .mean-container a.meanmenu-reveal {
    margin-top: 10px;
  }
  #nav-logo{
    margin-top:0px;
  }
  #nav-logo .block-right {
    margin-right: 0px;
  }
  #nav-logo > div {
    line-height: 1;
  }
  #nav-logo .cart-icon #cart-total {
    margin-top: 0px !important;
  }
  #nav-menu .submenu a {
    color: #fff;
  }
}
@media (min-width: 750px) and (max-width: 991px) {
  #nav-menu {
    background-color: #fff;
  }
  .mean-nav{
    margin-top: 50px !important;
  }
  .mean-container a.meanmenu-reveal {
    margin-top: 10px;
  }
  #nav-logo{
    margin-top:0px;
  }
  #nav-logo .block-right {
    margin-right: 0px;
  }
  #nav-logo > div {
    line-height: 1;
  }
  #nav-logo .cart-icon #cart-total {
    margin-top: 0px !important;
  }
  #nav-menu .submenu a {
    color: #fff;
  }
}

/* cart */
.cart-item {
  line-height: 20px;
}

/* Mobile menu */
.mean-nav > ul {
  height: auto !important;
}

/* Индекс для мобилок */
.featured-product-button.visible-xs a{
  display: inline-block !important;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}
.featured-product-button.visible-xs {
  bottom: 0;
  top: auto;
  opacity: 0.7;
  /* transform: none; */
}

@media (max-width: 767px) {
  /* На маленьких экранах покажем стрелки, чтобы понимали что мжно листать */
  .product-active .owl-nav div, .indicator .owl-nav div{
    opacity: 0.5;
  }

  .footer-img.text-center img {
    width: 60%;
  }
}
@media (min-width: 750px) and (max-width: 970px) {
  /* На планшетах покажем стрелки, чтобы понимали что мжно листать */
  .product-active .owl-nav div, .indicator .owl-nav div{
    opacity: 0.5;
  }
}

/** ===========================================================================
  *
  * ПЛАГИНЫ
  *
  */
/* Кнопки вверх и живосайт при маленьких экранах */
@media (max-width: 767px) {
  #scrollUp {
    bottom: 95px;
  }
}
@media (min-width: 750px) and (max-width: 970px) {
  #scrollUp{
    bottom: 95px;
  }
}


/** ===========================================================================
  *
  * Главная
  *
  */
/* Наши преимущества */
.static-img i{
  padding: 27px;
  color: #fff;
  font-size: 19px;
}
.static-img {
  background: #464646 none repeat scroll 0 0;
  border-radius: 100%;
}


/** ===========================================================================
  *
  * Меню
  *
  */
/* Корзина */
.cart-item .cart-img img{
  width: 100px;
  height: 100px;
}
.cart-icon ul li.active .cart-item{
  visibility: visible;
  opacity: 1;
}


/** ===========================================================================
  *
  * Оформление заказа
  *
  */
/* Форма */
#form-checkout textarea {
  width: 100%;
}
#form-checkout #delivery_address {
  display: none
}
.your-order tfoot tr:first-child th, .your-order tfoot tr:first-child td{
  padding-top:40px;
}
.your-order tfoot th {
  text-align: right;
}
.your-order tfoot td, .your-order tfoot th{
  border:none;
  padding:5px 0;
}


/** ===========================================================================
  *
  * Страница товара
  *
  */
/* Выбор цвета */
.colors{
  margin-bottom: 20px;
}
.colors a {
  position: relative;
  margin: 5px 0 0 0;
  border: 1px solid #ddd;
  color: #444;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}
.colors a.not-active {
  opacity: 0.3;
  cursor: default;
}
.colors a i{
  display: none;
}
.colors a.active{
  border: 1px solid #388396;
}
.colors a.active i{
  padding: 4px;
  background-color: #388396;
  right: 3px;
  bottom: 2px;
  color: #fff;
  position: absolute;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

/* Фото */
.pro-large-img a {
  bottom: 50%;
  font-size: 14px;
  display: none;
  width: 166px;
  padding: 15px 0;
}
.pro-large-img:hover a {
  display: block;
}

/* Выбор модуля */
.modules-list {
  margin-top:20px;
}

.modules-list .modules-item {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 5px 5px 5px 0;
}

.modules-list .modules-item .modules-image{
  float: left;
}

.modules-list .modules-item .modules-image img{
  width: 100px;
  height: 100px;
}

.modules-list .modules-item .modules-description{
  padding: 10px 10px 0 110px;
}
.modules-list .modules-item .modules-description .modules-name {
  color: #000;
}
.modules-list .modules-item .modules-description .modules-characteristics {
  color: #999;
}
.modules-list .modules-item .modules-description .modules-price {
  display: inline-block;
  padding-top: 10px;
  font-size: 20px;
}

/* Фото в хеадере (Белая пелена) */
/* .slider-area .container {
  position: relative;
}
.slider-area {
  position: relative;
}
.slider-area .slider-wrapper-1 .slider-wrapper-white{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .65);
} */

/* Вопросы */
li.media .media-left i {
  color: #eeeeee;
}

li.media{
  border-bottom: 1px dotted #dedbdb;
}

li.media:last-child{
  border: none;
}

.question-form,
.reviews-form {
  display: none;
}


/** ===========================================================================
  *
  * Статьи
  *
  */
/* фото в статьях */
.blog-details-text img{
  display: block;
  max-width: 100%;
  height: auto;
}

/** ===========================================================================
  *
  * Страница каталога
  *
  */

/* Поле ввода цены */
/* .price-filter .price-input input {
  border: 0 none;
  color: #444;
  font-weight: 600;
  height: 30px;
  padding: 0 15px;
  width: 140px;
} */
.label-product {
  margin: 10px 10px 0 0;
  background-color: #9e0000;
  border-radius: 100%;
  overflow: hidden;
  padding-top: 15px;
  width:50px;
  height:50px;
}
.label-product .new{
  background: none;
  font-size: 12px;
}
.new-price.sale {
  color: #9e0000;
}
/* Выпадающий фильтр  */
#filter .panel-heading {
  background: #f1f2f4 0 0;
}
#filter .panel-title a[data-toggle="collapse"].collapsed i:before{
  content:"\f107";
}
/* фильтр по цене */
#filter .price-input input{
  border: 1px solid #f1f2f4;
}
#filter .price-filter .ui-slider-handle {
  background-color: #444;
}
#filter .price-input {
  width: 100%;
  float: none;
}
#filter .price-filter input {
  width: 100%;
}
#filter .price-filter .price-button {
  margin-top: 10px;
}
/* фильтр по производителю */
#filter-manufacturer a.active .fa-square-o:before{content:"\f0c8"}

/* фото товара */
.product-img img {
  min-height: 256px;
}
.product-img {
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center;
}

/** ===========================================================================
  *
  * Padding
  *
  */

.p1 {
  padding: 10px;
}

.p2 {
  padding: 20px;
}

.p3 {
  padding: 30px;
}

.p4 {
  padding: 40px;
}

.p5 {
  padding: 50px;
}

.p6 {
  padding: 60px;
}

.p7 {
  padding: 70px;
}

.p8 {
  padding: 80px;
}

.p9 {
  padding: 90px;
}

.p10 {
  padding: 100px;
}

.p11 {
  padding: 110px;
}

.p12 {
  padding: 120px;
}

.p13 {
  padding: 130px;
}

.p14 {
  padding: 140px;
}

.p15 {
  padding: 150px;
}

.p16 {
  padding: 160px;
}

.p0 {
  padding: 0px;
}

.pt1 {
  padding-top: 10px;
}

.pt2 {
  padding-top: 20px;
}

.pt3 {
  padding-top: 30px;
}

.pt4 {
  padding-top: 40px;
}

.pt5 {
  padding-top: 50px;
}

.pt6 {
  padding-top: 60px;
}

.pt7 {
  padding-top: 70px;
}

.pt8 {
  padding-top: 80px;
}

.pt9 {
  padding-top: 90px;
}

.pt10 {
  padding-top: 100px;
}

.pt11 {
  padding-top: 110px;
}

.pt12 {
  padding-top: 120px;
}

.pt13 {
  padding-top: 130px;
}

.pt14 {
  padding-top: 140px;
}

.pt15 {
  padding-top: 150px;
}

.pt16 {
  padding-top: 160px;
}

.pt0 {
  padding-top: 0px;
}

.pr1 {
  padding-right: 10px;
}

.pr2 {
  padding-right: 20px;
}

.pr3 {
  padding-right: 30px;
}

.pr4 {
  padding-right: 40px;
}

.pr5 {
  padding-right: 50px;
}

.pr6 {
  padding-right: 60px;
}

.pr7 {
  padding-right: 70px;
}

.pr8 {
  padding-right: 80px;
}

.pr9 {
  padding-right: 90px;
}

.pr10 {
  padding-right: 100px;
}

.pr11 {
  padding-right: 110px;
}

.pr12 {
  padding-right: 120px;
}

.pr13 {
  padding-right: 130px;
}

.pr14 {
  padding-right: 140px;
}

.pr15 {
  padding-right: 150px;
}

.pr16 {
  padding-right: 160px;
}

.pr0 {
  padding-right: 0px;
}

.pb1 {
  padding-bottom: 10px;
}

.pb2 {
  padding-bottom: 20px;
}

.pb3 {
  padding-bottom: 30px;
}

.pb4 {
  padding-bottom: 40px;
}

.pb5 {
  padding-bottom: 50px;
}

.pb6 {
  padding-bottom: 60px;
}

.pb7 {
  padding-bottom: 70px;
}

.pb8 {
  padding-bottom: 80px;
}

.pb9 {
  padding-bottom: 90px;
}

.pb10 {
  padding-bottom: 100px;
}

.pb11 {
  padding-bottom: 110px;
}

.pb12 {
  padding-bottom: 120px;
}

.pb13 {
  padding-bottom: 130px;
}

.pb14 {
  padding-bottom: 140px;
}

.pb15 {
  padding-bottom: 150px;
}

.pb16 {
  padding-bottom: 160px;
}

.pb0 {
  padding-bottom: 0px;
}

.pl1 {
  padding-left: 10px;
}

.pl2 {
  padding-left: 20px;
}

.pl3 {
  padding-left: 30px;
}

.pl4 {
  padding-left: 40px;
}

.pl5 {
  padding-left: 50px;
}

.pl6 {
  padding-left: 60px;
}

.pl7 {
  padding-left: 70px;
}

.pl8 {
  padding-left: 80px;
}

.pl9 {
  padding-left: 90px;
}

.pl10 {
  padding-left: 100px;
}

.pl11 {
  padding-left: 110px;
}

.pl12 {
  padding-left: 120px;
}

.pl13 {
  padding-left: 130px;
}

.pl14 {
  padding-left: 140px;
}

.pl15 {
  padding-left: 150px;
}

.pl16 {
  padding-left: 160px;
}

.pl0 {
  padding-left: 0px;
}

.ph1 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph2 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph3 {
  padding-left: 30px;
  padding-right: 30px;
}

.ph4 {
  padding-left: 40px;
  padding-right: 40px;
}

.ph5 {
  padding-left: 50px;
  padding-right: 50px;
}

.ph6 {
  padding-left: 60px;
  padding-right: 60px;
}

.ph7 {
  padding-left: 70px;
  padding-right: 70px;
}

.ph8 {
  padding-left: 80px;
  padding-right: 80px;
}

.ph9 {
  padding-left: 90px;
  padding-right: 90px;
}

.ph10 {
  padding-left: 100px;
  padding-right: 100px;
}

.ph11 {
  padding-left: 110px;
  padding-right: 101px;
}

.ph12 {
  padding-left: 120px;
  padding-right: 120px;
}

.ph13 {
  padding-left: 130px;
  padding-right: 130px;
}

.ph14 {
  padding-left: 140px;
  padding-right: 140px;
}

.ph15 {
  padding-left: 150px;
  padding-right: 150px;
}

.ph16 {
  padding-left: 160px;
  padding-right: 160px;
}

.ph0 {
  padding-left: 0px;
  padding-right: 0px;
}

.phl0 {
  padding-left: 0px;
}

.phr0 {
  padding-right: 0px;
}

.pv1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pv5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pv7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pv8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pv9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pv10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pv11 {
  padding-top: 110px;
  padding-bottom: 101px;
}

.pv12 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pv13 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.pv14 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.pv15 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.pv16 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.pv0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pvt0 {
  padding-top: 0px;
}

.pvb0 {
  padding-bottom: 0px;
}
/* Margin
------------------------------------ */

.m1 {
  margin: 10px;
}

.m2 {
  margin: 20px;
}

.m3 {
  margin: 30px;
}

.m4 {
  margin: 40px;
}

.m5 {
  margin: 50px;
}

.m6 {
  margin: 60px;
}

.m7 {
  margin: 70px;
}

.m8 {
  margin: 80px;
}

.m9 {
  margin: 90px;
}

.m10 {
  margin: 100px;
}

.m11 {
  margin: 110px;
}

.m12 {
  margin: 120px;
}

.m13 {
  margin: 130px;
}

.m14 {
  margin: 140px;
}

.m15 {
  margin: 150px;
}

.m16 {
  margin: 160px;
}

.m0 {
  margin: 0;
}

.ml1 {
  margin-left: 10px;
}

.ml2 {
  margin-left: 20px;
}

.ml3 {
  margin-left: 30px;
}

.ml4 {
  margin-left: 40px;
}

.ml5 {
  margin-left: 50px;
}

.ml6 {
  margin-left: 60px;
}

.ml7 {
  margin-left: 70px;
}

.ml8 {
  margin-left: 80px;
}

.ml9 {
  margin-left: 90px;
}

.ml10 {
  margin-left: 100px;
}

.ml11 {
  margin-left: 110px;
}

.ml12 {
  margin-left: 120px;
}

.ml13 {
  margin-left: 130px;
}

.ml14 {
  margin-left: 140px;
}

.ml15 {
  margin-left: 150px;
}

.ml16 {
  margin-left: 160px;
}

.ml0 {
  margin-left: 0;
}

.mr1 {
  margin-right: 10px;
}

.mr2 {
  margin-right: 20px;
}

.mr3 {
  margin-right: 30px;
}

.mr4 {
  margin-right: 40px;
}

.mr5 {
  margin-right: 50px;
}

.mr6 {
  margin-right: 60px;
}

.mr7 {
  margin-right: 70px;
}

.mr8 {
  margin-right: 80px;
}

.mr9 {
  margin-right: 90px;
}

.mr10 {
  margin-right: 100px;
}

.mr11 {
  margin-right: 110px;
}

.mr12 {
  margin-right: 120px;
}

.mr13 {
  margin-right: 130px;
}

.mr14 {
  margin-right: 140px;
}

.mr15 {
  margin-right: 150px;
}

.mr16 {
  margin-right: 160px;
}

.mr0 {
  margin-right: 0;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.mb6 {
  margin-bottom: 60px;
}

.mb7 {
  margin-bottom: 70px;
}

.mb8 {
  margin-bottom: 80px;
}

.mb9 {
  margin-bottom: 90px;
}

.mb10 {
  margin-bottom: 100px;
}

.mb11 {
  margin-bottom: 110px;
}

.mb12 {
  margin-bottom: 120px;
}

.mb13 {
  margin-bottom: 130px;
}

.mb14 {
  margin-bottom: 140px;
}

.mb15 {
  margin-bottom: 150px;
}

.mb16 {
  margin-bottom: 160px;
}

.mb0 {
  margin-bottom: 0;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt6 {
  margin-top: 60px;
}

.mt7 {
  margin-top: 70px;
}

.mt8 {
  margin-top: 80px;
}

.mt9 {
  margin-top: 90px;
}

.mt10 {
  margin-top: 100px;
}

.mt11 {
  margin-top: 110px;
}

.mt12 {
  margin-top: 120px;
}

.mt13 {
  margin-top: 130px;
}

.mt14 {
  margin-top: 140px;
}

.mt15 {
  margin-top: 150px;
}

.mt16 {
  margin-top: 160px;
}

.mt0 {
  margin-top: 0;
}

.mv1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mv4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mv5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mv6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mv7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mv8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mv9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mv10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mv11 {
  margin-top: 110px;
  margin-bottom: 101px;
}

.mv12 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mv13 {
  margin-top: 130px;
  margin-bottom: 130px;
}

.mv14 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.mv15 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.mv16 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mvt0 {
  margin-top: 0;
}

.mvb0 {
  margin-bottom: 0;
}

.mh1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mh4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mh5 {
  margin-left: 50px;
  margin-right: 50px;
}

.mh6 {
  margin-left: 60px;
  margin-right: 60px;
}

.mh7 {
  margin-left: 70px;
  margin-right: 70px;
}

.mh8 {
  margin-left: 80px;
  margin-right: 80px;
}

.mh9 {
  margin-left: 90px;
  margin-right: 90px;
}

.mh10 {
  margin-left: 100px;
  margin-right: 100px;
}

.mh11 {
  margin-left: 110px;
  margin-right: 101px;
}

.mh12 {
  margin-left: 120px;
  margin-right: 120px;
}

.mh13 {
  margin-left: 130px;
  margin-right: 130px;
}

.mh14 {
  margin-left: 140px;
  margin-right: 140px;
}

.mh15 {
  margin-left: 150px;
  margin-right: 150px;
}

.mh16 {
  margin-left: 160px;
  margin-right: 160px;
}

.mh0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mhl0 {
  margin-left: 0px;
}

.mhr0 {
  margin-right: 0px;
}
