/*
 *
 * GLOBAL
 */
.pointer{
    cursor:pointer;
}

pre {
  color:green;
}

.push-bit-2 {
  margin-bottom: 20px !important;
}

/* Увеличиваем кнопки +- для полей типа number */
input[type=number] {
  line-height: 40px;
  padding-right: 0px !important;
}
input[type=number].input-lg {
  line-height: 46px !important;
}

/* Кнопка dropdown. Использование 'button' вместо ссылки 'a' */
.dropdown-menu > li > button {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background: none;
  border: 0px;
  /* display: inline-block; */
  width: 100%;
  text-align: left;
}
.dropdown-menu > li > button:hover, .dropdown-menu > li > button:focus {
    text-decoration: none;
    color: #fff;
    background-color: #627aad;
}
.dropdown-menu button:hover i {
    opacity: 0.5;
}
.dropdown-menu > li > button {
    padding: 8px 10px;
}
/**
  *  Главная таблица
  */
#main_table td, #main_table th {
  text-align: center;
}

/**
  *  Фото-слайдер на странице товара
  */
#furnitures .block-content-full {
  margin: 0px !important;
}
#furnitures .carousel-indicators li {
  width: 6px;
  height: 6px;
  margin-bottom:-15px;
}
#furnitures .carousel-indicators .active {
  width: 7px;
  height: 7px;
  margin-bottom:-15px;
  background-color: #afde5c;
}

/**
  *  Окно дропзоне для формы коллекций
  */
.dropzone.dropzone-in-form .dz-preview {
  min-height: 80px;
}

.dropzone.dropzone-in-form .dz-preview .dz-image {
  width: 80px;
  height: 80px;
}

.dropzone.dropzone-in-form {
  padding: 5px;
}

.dropzone.dropzone-in-form .dz-preview {
  margin:5px 5px;
}

.dropzone.dropzone-in-form .dz-message {
  margin: 10px 0 !important;
  font-size: 15px;
}

/*
 * table-tr-mini-button-menu
 */
.equipments-config {
    font-size:8px;
    cursor:pointer;
    color:#999999;
}
.equipments-config:hover {
    color: inherit;
}

.bootstrap-growl{
    border:1px solid #bebebe;
}
.alertMy-animate-group {
  top: -5px;
  right: -5px;
  transition-property: margin-left;
  transition-duration: 9s;
  transition-timing-function: linear;
}

/*
 *
 *   Main-table sort
 */
#sort{
    position: absolute;
    height:100%;
    top:0px;
    padding-left:5px;
}

#sort i.fa-sort-asc{
    position:absolute;
    top:30%;
}
#sort i.fa-sort-desc{
    position:absolute;
    top:45%;
}

#main_table th:not(.not-sort){
    position:relative;
}

#sort i.active,
#sort i:hover{
    cursor: pointer;
    color:#00b3ee;
}


/*  table   */
    .table td.danger,
    .table tr.danger,
    .table th.danger {
      background:#F2DEDE !important;
      border-bottom:2px solid #f2caca !important;
    }
    .table td.info,
    .table tr.info,
    .table th.info {
      background:#d9edf7 !important;
      border-bottom:2px solid #98cce4 !important;
    }
    .table td.success,
    .table tr.success,
    .table th.success {
      background:#dff0d8 !important;
      border-bottom:2px solid #c3dfb8 !important;
    }
    .table td.warning,
    .table tr.warning,
    .table th.warning {
      background:#fcf8e3 !important;
      border-bottom:2px solid #f6f0d2 !important;
    }
}
